@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

body {
  margin: 0;
}

a {
  font-family: 'Raleway', sans-serif;
  color: #F7931E;
  text-decoration: none;
}

a:hover {
  background: #F2F2F2;
}

.folio {
/*   position: absolute; */
/*   top: 146px; */
  border-top: 1px solid black;
  border-bottom: 4px solid black;
  margin-top: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.folio-small-item {
  margin: 0px;
  margin-top: 7px;
}

.folio-date {
  font-size: 15.5pt;
  margin: 0px;
  margin-top: 2px;
}

.sidebar-and-articles-container {
  height: 100%;
  display: flex;
  background: antiquewhite;
}

.full-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: tomato;
}

.sidebar {
  visibility: collapse;
  width:20%;
  height: 100%;
  min-width: 250px;
  background: palegoldenrod;
}

.news-index {
  background: hotpink;
  border: 5px double black;
  border-left: none;
  border-right: none;
  margin: 10px;
}

.articles {
  width: 100%;
  background: darkseagreen;
  display: flex;
  flex-direction: column;
}

.article {
  background: thistle;
  border: 1px solid black;
}

.big.article {
  background: slateblue;
}

.small.article {
  background: yellow;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .sidebar {
    visibility: visible;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {

}
