@import url(https://fonts.googleapis.com/css?family=Pacifico);
/* @import url(https://fonts.googleapis.com/css?family=Indie+Flower); */
/* @import url(https://fonts.googleapis.com/css?family=Architects+Daughter); */

body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0 auto;
	text-align: center;
	background: rgba(26, 188, 156, 0.2);
	position: relative;
	line-height: 1.4;
}

/***** Title *****/

h1 {
	font-family: 'Pacifico', serif;
	font-size: 50px;
	margin-top: 100px;
	z-index: 10;
	position: relative;
	padding: 0 15px;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	font-size: 30px;
	font-family: Verdana, Geneva, sans-serif;
	z-index: 10;
	position: relative;
	padding: 0 15px;
	margin-top: 0;
	margin-bottom: 150px;
}

.avatar {
	background-image: url('img/avatar.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	width: 200px;
	display: inline-block;
}

/***** Project elements *****/

.project {
	/* margin: 30px 15px; */
	border-radius: 20px;
	background: rgba(236, 240, 241, 0.5);
	border: 1px solid #ccc;
	padding: 20px;
	/* width: 600px; */
	/* max-width: calc(90% - 45px); */
	z-index: 10;
	position: relative;
	display: inline-block;
}
.clickable {
	cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
	grid-gap: 2vw;
}

h3 {
	font-size: 25px;
	font-weight: normal;
}

.img_s {
	border: 1px solid #ccc;
	border-radius: 10px;
	background: #fff;
	margin: 20px 0;
	width: 350px;
	max-width: 90%;
}

.tools_h {
	padding-top: 20px;
}

.tools {
	display: inline-block;
	margin: 0 20px 30px 20px;
	position: relative;
	width: 120px;
	border-radius: 5px;
}

/***** Background Clouds *****/

.cloud {
	height: 100px;
	width: 250px;
	position: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
	opacity: 0;
	-webkit-transition: all 1s;
  transition: all 1s;
}

#cloud1 {
	top: 0;
	left: 0;
	background-image: url('img/cloud_1.png');
	opacity: 1;
}

#cloud2 {
	top: 45%;
	right: 5%;
	background-image: url('img/cloud_2.png');
	opacity: 1;
}

#cloud3 {
	top: 80%;
	left: 10%;
	background-image: url('img/cloud_3.png');
	opacity: 1;
}

@media screen and (min-width: 800px) {
	h2 {
		margin-bottom: 60px;
	}

	#cloud4 {
		top: 30%;
		left: 20%;
		background-image: url('img/cloud_3.png');
		opacity: 1;
	}
}

/***** Footer *****/

.footer {
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 20px;
	position: relative;
	z-index: 10;
}
